#
# Input core configuration
#
menuconfig INPUT_GSENSOR
	bool "Gsensor"
	default y
	help
	  Say Y here, and a list of supported gsensor will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

if INPUT_GSENSOR

config GSENSOR_LOMBO_N7
	tristate "Lombo gsensor"
	depends on ARCH_LOMBO_N7
	help
	  Say Y to enable gsensor module support for the Lombo Tech N7 platforms.

	  To compile this driver as a module, choose M here: the
	  module will be called lombo_da380_gsensor.

endif
